.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .image {
    height: 200px;
    max-height: 200px;
  }

  .title {
    font-size: 23px;
  }

  .description {
    height: 170px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
  }

  .price {
    font-size: 18px;
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .card {
      width: 100%;
    }
  }